<!DOCTYPE html>
<html>

<head>
    <title>AI Piping Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
</head>

<body>
    <h3>Travel Recommendation</h3>
    <form id="recommendationForm">
        <input type="text" name="country" id="country" placeholder="Enter a Country" autocomplete="off" required />
        <input type="text" name="season" id="season" placeholder="Enter a Season" autocomplete="off" required />
        <input type="submit" value="Generate Recommendations" />
    </form>
    <div id="result">
    </div>
</body>

<script>
    document.getElementById("recommendationForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const country = document.getElementById("country").value;
        const season = document.getElementById("season").value;

        // Create JSON payload
        const requestData = {
            country: country,
            season: season
        };


        fetch("/recommendation", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.json())
            .then(data => {
                if (data.hasOwnProperty('recommendations')) {
                    const resultElement = document.getElementById("result");
                    resultElement.innerHTML = `
                        <p>Country: ${data.country}</p>
                        <p>Season: ${data.season}</p>
                        <p>Recommendations:</p>
                        <ul>
                            ${data.recommendations.map(recommendation => `<li>${recommendation}</li>`).join("")}
                        </ul>
                    `;
                } else {
                    const resultElement = document.getElementById("result");
                    resultElement.innerHTML = `
                    <p>Error: ${data.detail}</p>`
                }
            })
            .catch(error => {
                console.error("Error:", error);

            });
    });
</script>

</html>